.git
.vscode
.idea
node_modules
votely-backend/node_modules
votely-web/node_modules
votely-mobile/node_modules
face-recognition/venv
face-recognition/.venv
dist
build
.next
votely-web/.next
votely-backend/dist
votely-backend/generated
*.log
*.local
face-recognition/data/*.jpg
face-recognition/data/*.jpeg
face-recognition/data/*.png
face-recognition/data/*_embedding.json
